.icon {

  display: inline-block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;


  &.typeFollow {
    background-image: url("./Assets/heart-default.svg");

    &.active { background-image: url("./Assets/heart-active.svg") }
  }

  &.typeGrid { background-image: url("./Assets/grid.svg") }

  &.typeList { background-image: url("./Assets/list.svg") }

  &.typeGrid,
  &.typeList {
    opacity: 0.3;

    &.active { opacity: 1 }
  }

}
