.fullscreenBg {
  background-color: #fafafa;
  height: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  &.spaces {
    padding: 40px 0;
  }

  > .form {
    margin: auto;
    flex-shrink: 0;

    background: #FFFFFF;
    border: 1px solid rgba(39, 39, 39, 0.1);
    box-sizing: border-box;
    border-radius: 5px;

    width: 510px;
    height: 520px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
