.position {
  position: absolute;

  background-color: red;

  top: 100%;
  width: 5px;
  height: 5px;

  > .box {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    gap: 15px;
    padding: 15px;

    z-index: 1;
    width: 190px;
    transform: translateX(-50%);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(0, -50%) rotate(45deg);
      width: 7px;
      height: 7px;
      background-color: white;
    }

    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    > span {
      color: #000000;
    }

    > .link {
      color: #1390E5;
      cursor: pointer;
    }
  }
}
