.container {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;


  > .frame {
    flex-grow: 1;
  }

  > .button {
    flex-shrink: 0;
  }
}
