.headline {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;

  color: #000000;

  &.level2 {
    font-size: 28px;
    line-height: 40px;
  }

  &.level3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
}
